{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Event Room Booking Admin Interface</title>
  <!-- <link rel="stylesheet" type="text/css" href="style.css"> -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/admin_style.css' %}">

</head>
<body>
  <header>
    <h1>VenueMaster - Admin</h1>
  </header>
  
  <nav>
    <ul>
      <li><a href="approval">Approval</a></li>
      <li><a href="upcoming.html">Upcoming</a></li>
      <li><a href="#" class="active">All Bookings</a></li>
      <li><a href="history">History</a></li>
      <li><a href="#">Dashboard</a></li>
    </ul>
  </nav>
  {% block content %}
  {% endblock %}
  <br><br>
  {% for evnt in events %}
    <div class="event-card">
      <div class="event-name">{{evnt.event_name}}</div>
      <div class="event-description">{{evnt.event_desp}}</div>
      <div class="event-date">Event Date: {{evnt.event_date}}</div>
      <div class="event-venue">Event Name: {{evnt.event_name}}</div>
      <div class="event-status {% if evnt.status == True %}approved{% elif evnt.status == False %}denied{% else %}on-process{% endif %}">
        {% if evnt.status == True %}Approved{% elif evnt.status == False %}Denied{% else %}On Process{% endif %}
      </div>
    </div>
    {% endfor %}

  
  <footer>
    <p>&copy; 2023 EventMaster. All rights reserved.</p>
  </footer>
</body>
</html>
