{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Event Room Booking Admin Interface</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/historypage.css' %}">
  <style>
	.event-dashboard {
      font-weight: bold;
    }

    .dashboard {
      background-color: green;
      text-align: center;
	margin-left: 920px
    }
</style>
</head>
<body>
  <header>
    <h1>WattWise - Admin</h1>
  </header>
  
 

  <div class="event-card">
    <div class="event-name">Visual Eyes</div>
    <div class="event-date">Event Date: 23.6.23</div>
    <div class="event-count">Event count: 300</div>
    <div class="event-dashboard"><a href="https://app.powerbi.com/reportEmbed?reportId=e94016b1-ba15-4221-b9d3-ecccb801eb6c&autoAuth=true&ctid=6b8b8296-bdff-4ad8-93ad-84bcbf3842f5">Dashboard</a></div>
  </div>

  

  
  <footer>
    <p>&copy; 2023 EventMaster. All rights reserved.</p>
  </footer>
</body>
</html>
