{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Event Room Booking Admin Interface</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/historypage.css' %}">
  <style>
	.event-dashboard {
      font-weight: bold;
    }

    .dashboard {
      background-color: green;
      text-align: center;
	margin-left: 920px
    }
</style>
</head>
<body>
  <header>
    <h1>WattWise - Admin</h1>
  </header>

  <nav>
    <ul>
      <li><a href="all_bookings" >All Bookings</a></li>
      <li><a href="approval" class="active">Approval</a></li>
      <li><a href="upcoming">Upcoming</a></li>
      <li><a href="history">Dashboard</a></li>
    </ul>
  </nav>
  
 <br>
 <br>

 {% for event in upcoming_events %}
  <div class="event-card">
    <div class="event-name">{{ event.event_name }}</div>
    <div class="event-date">{{ event.start_date }}</div>
    <div class="event-count">{{ event.aud_count }}</div>
    <div class="event-count">{{ event.venue }}</div>
 
  </div>
  {% endfor %}

  <footer>
    <p>&copy; 2023 EventMaster. All rights reserved.</p>
  </footer>
</body>
</html>
